/**
Sample css code
*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
}

/*Set background image*/
.container {
	background-image: url("paper.gif");
	background-color: #97ff90;
	height: 100%;
	background-position: center;
	background-size: cover;
}

/* Position text in the middle */
.middle {
  position: absolute;
  color: black;
  top: 50%;
  left: 39%;
  text-align: center;
  font-size: 25px;
}

/*Set circle in unordered list*/
.middle ul {
  list-style-type: circle;
}

/*Set text inside li tag to left*/
.middle ul li {
  text-align: left !important;
}

/*Set text color for a tag inside middle class and ul>li element*/
.middle ul li a {
  color: black;
}

/*Change text color and decoration for a tags inside middle class and ul>li element*/
.middle ul li a:hover {
  color: red;
  text-decoration: none;
}

h2 {
	color: black;
	font-size: 30px;
	font-family: Helvetica;
}